<h1>Edit state</h1>

<form id="edit-state" name="state">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="desciption"> desciption:</label>
    <input type="text" name="desciption" id="desciption" value="<%= desciption %>" >
  </div>

  <div class="field">
    <label for="code"> code:</label>
    <input type="text" name="code" id="code" value="<%= code %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update State" />
  </div>

</form>

<a href="#/index">Back</a>
