<h1>Edit place</h1>

<form id="edit-place" name="place">
  <div class="control-group">
    <label for="name" class="control-label"> Name:</label>
    <div class="controls">
      <input type="text" name="name" id="name" value="<%= name %>" class="form-control">
    </div>  
  </div>

  <div class="control-group">
    <label for="description" class="control-label"> Description:</label>
    <div class="controls">
      <input type="text" name="description" id="description" value="<%= description %>" class="form-control">
    </div>
  </div>

  <div class="control-group">
    <label for="district_id" class="control-label"> District_id:</label>
    <div class="controls">
      <input type="text" name="district_id" id="district_id" value="<%= district_id %>" class="form-control">
    </div>
  </div>

  <div class="control-group">
    <label for="code" class="control-label"> Code:</label>
    <div class="controls">
      <input type="text" name="code" id="code" value="<%= code %>" class="form-control">
    </div>
  </div>

  <br/>
  <div class="control-group">
    <div class="controls">
      <input type="submit" class="btn btn-primary" value="Update Place" />
      <a href="#" class="btn btn-default">Cancel</a>
    </div>
  </div>

</form>

<a href="#/index">Back</a>
