<h1>Listing places</h1>

<table id="places-table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>District</th>
    <th>Code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Place</a>