<h1>Listing places</h1>

<div id="main">
  <table class="table table-striped">
    <thead>
      <tr>
		    <th>Name</th>
		    <th>Description</th>
		    <th>State</th>
		    <th>Code</th>
		    <th></th>
		    <th></th>
		    <th></th>
  		</tr>
  	</thead>
  	<tbody>
  	</tbody>
	</table>
	<br/>
</div>

<a href="#newPlace">New Place</a>
<div id="new-place"></div>