<h1>New place</h1>

<form id="new-place" name="place">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="field">
    <label for="district_id"> district_id:</label>
    <input type="text" name="district_id" id="district_id" value="<%= district_id %>" >
  </div>

  <div class="field">
    <label for="code"> code:</label>
    <input type="text" name="code" id="code" value="<%= code %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Place" />
  </div>

</form>

<a href="#/index">Back</a>