<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Description:</b>
  <%= description %>
</p>

<p>
  <b>District:</b>
  <%= districtName %>
</p>

<p>
  <b>Code:</b>
  <%= code %>
</p>


<a href="#/places">Back</a>