<h1>Listing districts</h1>

<table id="districts-table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New District</a>