<h1>New District</h1>

<form id="new-district" name="district">
  <div class="control-group">
    <label for="name" class="control-label"> Name:</label>
    <div class="controls">
      <input type="text" name="name" id="name" value="<%= name %>" class="form-control">
    </div>  
  </div>
  <div class="control-group">
    <label for="description" class="control-label"> Description:</label>
    <div class="controls">
      <input type="text" name="description" id="description" value="<%= description %>" class="form-control">
    </div>
  </div>
  <div class="control-group">
    <label for="code" class='control-label'>Code:</label>
    <div class="controls">
      <input type="text" name="code" id="code" value="<%= code %>" class="form-control">
    </div>
  </div>
  <br/>
  <div class="control-group">
    <div class="controls">
      <input type="submit" class="btn btn-primary" value="Create District" />
      <a href="#/places" class="btn btn-default">Cancel</a>
    </div>
  </div>

</form>
